<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
		
<appender name="fileAppender" class="org.apache.log4j.FileAppender">
	<param name="file" value="inTouch.log"/>
	<param name="threshold" value="WARN"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
		</layout>
</appender>

<root>
 	<priority value ="debug" />
 	<appender-ref ref="fileAppender" />
</root>
</log4j:configuration>