USE [master]
GO
/****** Object:  Database [inTouchDB]    Script Date: 05/09/2013 21:42:39 ******/
CREATE DATABASE [inTouchDB] ON  PRIMARY 
( NAME = N'inTouchDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\inTouchDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'inTouchDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\inTouchDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inTouchDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inTouchDB]
GO
/****** Object:  User [admin]    Script Date: 05/09/2013 21:42:39 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[type] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[type] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Type] ([type]) VALUES (N'LANGUAGE')
INSERT [dbo].[Type] ([type]) VALUES (N'PROGRAMMING')
INSERT [dbo].[Type] ([type]) VALUES (N'TECHNOLOGY')
/****** Object:  Table [dbo].[Level]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[qlevel] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[qlevel] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Level] ([qlevel]) VALUES (N'JUNIOR')
INSERT [dbo].[Level] ([qlevel]) VALUES (N'MIDDLE')
INSERT [dbo].[Level] ([qlevel]) VALUES (N'SENIOR')
/****** Object:  Table [dbo].[Skill_Level]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill_Level](
	[level] [int] NOT NULL,
 CONSTRAINT [PK_Skill_Level] PRIMARY KEY CLUSTERED 
(
	[level] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Skill_Level] ([level]) VALUES (1)
INSERT [dbo].[Skill_Level] ([level]) VALUES (2)
INSERT [dbo].[Skill_Level] ([level]) VALUES (3)
/****** Object:  Table [dbo].[Sex]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[sex] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[sex] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Sex] ([sex]) VALUES (N'FEMALE')
INSERT [dbo].[Sex] ([sex]) VALUES (N'MALE')
/****** Object:  Table [dbo].[Role]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[role] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Role] ([role]) VALUES (N'DEVELOPER')
INSERT [dbo].[Role] ([role]) VALUES (N'MANAGER')
INSERT [dbo].[Role] ([role]) VALUES (N'TESTER')
/****** Object:  Table [dbo].[Project_Status]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Status](
	[status] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_ProjectStatus] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Project_Status] ([status]) VALUES (N'ABANDONED')
INSERT [dbo].[Project_Status] ([status]) VALUES (N'CLOSED')
INSERT [dbo].[Project_Status] ([status]) VALUES (N'FROZEN')
/****** Object:  Table [dbo].[Member]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[login] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[surname] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[registration] [date] NULL,
	[sex] [nvarchar](25) NULL,
	[qlevel] [nvarchar](25) NULL,
	[experience] [float] NULL,
	[photo_link] [nvarchar](255) NULL,
	[additional_info] [nvarchar](max) NULL,
	[rating] [int] NULL,
	[role] [nvarchar](25) NULL,
 CONSTRAINT [PK_Member_1] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Member] ([login], [password], [name], [surname], [birthday], [registration], [sex], [qlevel], [experience], [photo_link], [additional_info], [rating], [role]) VALUES (N'carlos@gmail.com', N'2222', N'Robert', N'Carlos', CAST(0x44130B00 AS Date), CAST(0xBD330B00 AS Date), N'MALE', N'SENIOR', 4, N'.\resources\photos\carlos89.jpg', NULL, NULL, N'DEVELOPER')
INSERT [dbo].[Member] ([login], [password], [name], [surname], [birthday], [registration], [sex], [qlevel], [experience], [photo_link], [additional_info], [rating], [role]) VALUES (N'dobkin@epam.com', N'1111', N'Arkadiy', N'Dobkin', CAST(0x30EC0A00 AS Date), CAST(0xC4370B00 AS Date), N'MALE', N'SENIOR', 20, N'.\resources\photos\dobkin.jpg', NULL, NULL, N'MANAGER')
INSERT [dbo].[Member] ([login], [password], [name], [surname], [birthday], [registration], [sex], [qlevel], [experience], [photo_link], [additional_info], [rating], [role]) VALUES (N'franko77@ukr.net', N'3333qwerty', N'Ivan', N'Franko', CAST(0x3E030B00 AS Date), CAST(0x11370B00 AS Date), N'MALE', N'SENIOR', 5, N'.\resources\photos\franko77.jpg', NULL, NULL, N'DEVELOPER')
/****** Object:  Table [dbo].[Project]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created] [date] NOT NULL,
	[estimated_completion] [date] NULL,
	[completed] [date] NULL,
	[description] [nvarchar](max) NULL,
	[customer] [nvarchar](255) NULL,
	[status] [nvarchar](25) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Project] ON
INSERT [dbo].[Project] ([id], [name], [created], [estimated_completion], [completed], [description], [customer], [status]) VALUES (2, N'Indigo', CAST(0x24360B00 AS Date), CAST(0x91370B00 AS Date), NULL, N'Indigo project - dummy decription', N'Google', N'OPEN')
INSERT [dbo].[Project] ([id], [name], [created], [estimated_completion], [completed], [description], [customer], [status]) VALUES (4, N'Juno', CAST(0x61360B00 AS Date), CAST(0xC9370B00 AS Date), NULL, N'Dummy description for Juno project', N'Apple', N'OPEN')
SET IDENTITY_INSERT [dbo].[Project] OFF
/****** Object:  Table [dbo].[Skills]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[type] [nvarchar](25) NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Skills] ON
INSERT [dbo].[Skills] ([id], [name], [type]) VALUES (6, N'ENGLISH', N'LANGUAGE')
INSERT [dbo].[Skills] ([id], [name], [type]) VALUES (7, N'CHINESE', N'LANGUAGE')
INSERT [dbo].[Skills] ([id], [name], [type]) VALUES (8, N'JAVA', N'PROGRAMMING')
SET IDENTITY_INSERT [dbo].[Skills] OFF
/****** Object:  Table [dbo].[Teams]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[project_id] [bigint] NOT NULL,
	[member_id] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC,
	[member_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Teams] ([project_id], [member_id]) VALUES (2, N'carlos@gmail.com')
INSERT [dbo].[Teams] ([project_id], [member_id]) VALUES (2, N'dobkin@epam.com')
INSERT [dbo].[Teams] ([project_id], [member_id]) VALUES (2, N'franko77@ukr.net')
/****** Object:  Table [dbo].[Project_History]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_History](
	[member_id] [nvarchar](255) NOT NULL,
	[project_id] [bigint] NOT NULL,
 CONSTRAINT [PK_Project_History] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Project_History] ([member_id], [project_id]) VALUES (N'carlos@gmail.com', 4)
INSERT [dbo].[Project_History] ([member_id], [project_id]) VALUES (N'dobkin@epam.com', 4)
INSERT [dbo].[Project_History] ([member_id], [project_id]) VALUES (N'franko77@ukr.net', 4)
/****** Object:  Table [dbo].[Member_Skills]    Script Date: 05/09/2013 21:42:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member_Skills](
	[member_id] [nvarchar](255) NOT NULL,
	[skill_id] [bigint] NOT NULL,
	[experience] [float] NULL,
	[description] [nvarchar](max) NULL,
	[self_assessed_level] [int] NULL,
 CONSTRAINT [PK_MemberSkills] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Member_Skills] ([member_id], [skill_id], [experience], [description], [self_assessed_level]) VALUES (N'carlos@gmail.com', 6, 2, N'Hibernate is the best:)', 7)
INSERT [dbo].[Member_Skills] ([member_id], [skill_id], [experience], [description], [self_assessed_level]) VALUES (N'carlos@gmail.com', 7, 5, N'I love Chinese culture', 9)
INSERT [dbo].[Member_Skills] ([member_id], [skill_id], [experience], [description], [self_assessed_level]) VALUES (N'dobkin@epam.com', 8, 20, N'My favorite programming language is Java', 10)
/****** Object:  ForeignKey [FK_Member_Level]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Level] FOREIGN KEY([qlevel])
REFERENCES [dbo].[Level] ([qlevel])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Level]
GO
/****** Object:  ForeignKey [FK_Member_Role]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([role])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Role]
GO
/****** Object:  ForeignKey [FK_Member_Sex]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Sex] FOREIGN KEY([sex])
REFERENCES [dbo].[Sex] ([sex])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Sex]
GO
/****** Object:  ForeignKey [FK_Project_ProjectStatus]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_ProjectStatus] FOREIGN KEY([status])
REFERENCES [dbo].[Project_Status] ([status])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_ProjectStatus]
GO
/****** Object:  ForeignKey [FK_Skills_Type]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Type] FOREIGN KEY([type])
REFERENCES [dbo].[Type] ([type])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_Type]
GO
/****** Object:  ForeignKey [FK_Teams_Member1]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Member1] FOREIGN KEY([member_id])
REFERENCES [dbo].[Member] ([login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Member1]
GO
/****** Object:  ForeignKey [FK_Teams_Project]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Project]
GO
/****** Object:  ForeignKey [FK_Project_History_Member]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Project_History]  WITH CHECK ADD  CONSTRAINT [FK_Project_History_Member] FOREIGN KEY([member_id])
REFERENCES [dbo].[Member] ([login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project_History] CHECK CONSTRAINT [FK_Project_History_Member]
GO
/****** Object:  ForeignKey [FK_Project_History_Project]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Project_History]  WITH CHECK ADD  CONSTRAINT [FK_Project_History_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project_History] CHECK CONSTRAINT [FK_Project_History_Project]
GO
/****** Object:  ForeignKey [FK_Member_Skills_Skill_Level]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member_Skills]  WITH CHECK ADD  CONSTRAINT [FK_Member_Skills_Skill_Level] FOREIGN KEY([self_assessed_level])
REFERENCES [dbo].[Skill_Level] ([level])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member_Skills] CHECK CONSTRAINT [FK_Member_Skills_Skill_Level]
GO
/****** Object:  ForeignKey [FK_Member_Skills_Skills]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member_Skills]  WITH CHECK ADD  CONSTRAINT [FK_Member_Skills_Skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([id])
GO
ALTER TABLE [dbo].[Member_Skills] CHECK CONSTRAINT [FK_Member_Skills_Skills]
GO
/****** Object:  ForeignKey [FK_MemberSkills_Member]    Script Date: 05/09/2013 21:42:39 ******/
ALTER TABLE [dbo].[Member_Skills]  WITH CHECK ADD  CONSTRAINT [FK_MemberSkills_Member] FOREIGN KEY([member_id])
REFERENCES [dbo].[Member] ([login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Member_Skills] CHECK CONSTRAINT [FK_MemberSkills_Member]
GO
