<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>InTouch</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.epam.lab.intouch.web.servlet.MemberRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>editProfile</servlet-name>
		<servlet-class>com.epam.lab.intouch.web.servlet.EditProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>com.epam.lab.intouch.web.servlet.MemberLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestfulServiceLogin</servlet-name>
		<servlet-class>com.epam.lab.intouch.web.servlet.api.rest.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RestfulServiceProject</servlet-name>
		<servlet-class>com.epam.lab.intouch.web.servlet.api.rest.ProjectServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>RestfulServiceLogin</servlet-name>
		<url-pattern>/rest/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RestfulServiceProject</servlet-name>
		<url-pattern>/rest/project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editProfile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
</web-app>